<div class="col-xs-5">
    <h4>{{ recipe.name }}</h4>
    <img src="{{ recipe.image }}" style="width: 300px; height: 200px;">
</div>
<div class="col-xs-4">
    <div class="pull-left"><h4>Ingredients:</h4></div>
    <div class="pull-right">
        <i class="glyphicon glyphicon-minus" (click)="multiplyerChange('-')"></i>
        <p>{{ multiplyer }}x</p>
        <i class="glyphicon glyphicon-plus" (click)="multiplyerChange('+')"></i>
    </div>
    <ul class="leaders list-group">
        <li *ngFor="let ingredient of ingredients">
            <span>{{ ingredient.name }}</span><span>{{ ingredient.amount * multiplyer }} {{ ingredient.units }}</span>
        </li>
    </ul>
</div>