.list-group-item {
    height: 40px;
    background-color: rgb(34, 34, 34);
    border: 1px solid black;
}

.pull-left {
  float: left;
  width: 75%;
  height: 100%;
}

.pull-right {
  float: left;
  width: 50px;
  height: 100%;
}

a:hover {
    background-color: rgb(34, 34, 34);
    text-decoration: none;
}

.active {
    border: none;
    text-decoration: none;
}

h4.list-group-item-heading {
    color: rgb(150, 150, 150);
    width: 100%;
}

h4.list-group-item-heading:hover {
    color: white;
}

i {
    margin-left: 10px;
}

.closed {
    width: 100%;
}

.opened {
    width: 85%;
}
