<div class="list-group-item">
        <a class="pull-left" style="cursor: pointer;"
        [class.closed]="!isEdit" [class.opened]="isEdit"
        [routerLink]="[type, index+1]"
        routerLinkActive="active">
            <h4 class="list-group-item-heading"> {{ category.name }} </h4>
        </a>
        <div class="pull-right" *ngIf="isEdit">
            <i class="glyphicon glyphicon-edit" (click)="onEdit()"></i>
            <i class="glyphicon glyphicon-trash" (click)="onDelete()"></i>
        </div>
</div>