<div class="col-xs-5 media">
    <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class="row">
        <label for="name">Name</label>
        <input type="text" class="form-control" [ngModel]="category.name" name="name" required>
      </div>
      <div class="row" *ngIf="!editMode">
        <label for="type">Category type</label>
        <select name="type" class="form-control" [ngModel]="category.type">
          <option value="category">Category</option>
          <option value="country">Country</option>
        </select>
      </div>
        <div class="buttons">
            <button class="btn" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>
