<div class="col-xs-6">
    <table class="table">
      <thead>
        <tr>
          <th>Name </th>
          <th>Score <i class="fa fa-fw fa-sort" (click)="onSort()" style="float: right;"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let score of scores; let i = index;"  [routerLink]="[i, 'edit']" routerLinkActive="active">
          <td>{{ score.name }}</td>
          <td>{{ score.score }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn" (click)="onEdit()" style="width: 100%;">Add new score</button>
  </div>
  <div class="col-xs-3">
    <router-outlet></router-outlet>
  </div>