<div class="col-xs-5">
    <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
        <label for="name">Name</label>
        <input type="text" class="form-control" [ngModel]="category.name" name="name" required>
        <label for="type">Type</label>
        <select name="type" class="form-control" [ngModel]="category.type">Category
            <option value="category">Category</option>
            <option value="country">Country</option>
        </select>
        <div class="buttons">
            <button class="btn" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>